*{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}
.box{
    margin: 0;
    padding: 0;
}

.mainDiv{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.logoImg{
    border: 1px solid white;
    width: 10%;
    height: 99%;
}
.logoImg>img{
    width: 100%;
    height: 100%;
}
.allProducts{
    border: 2px solid white;
    width: auto;
    height: 100%;
    background-color:  #fdd641;
    display: inline-block;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.addProducts{
    border: 2px solid white;
    width: auto;
    height: 100%;
    background-color:  #fdd641;
    display: inline-block;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
.adminName{
    width: auto;
    height: 100%;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
    text-transform: uppercase;
}
.mainDiv>p{
    color: white;
    font-size: 15px;
    font-weight: bold;
}


@media screen and (max-width: 400px) {
    .mainDiv{
        width: 100%;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 20px;
    }
    .logoImg{
        border: 1px solid white;
        width: 30%;
        height: 99%;
    }
    .logoImg>img{
        width: 100%;
        height: 100%;
    }
}