.outerbar {
  position: sticky;
  background-color: rgb(247, 238, 238);
  border-color: white;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 1px solid red; */
}
.containerNavbar {
  width: 95%;
  height: auto;
  margin: auto;
  /* border: 1px solid red; */
}

.topNavbarSEction {
  width: 100%;
  height: 98px;
  /* border: 1px solid pink; */
  display: flex;
  justify-content: space-between;
}

.topNavbarSEction > img {
  width: 20%;
  margin: 5px;
}

.topNavbarSEction > div {
  width: 70%;
  margin-top: 10px;
  height: 30%;
}

.navbarlnguageSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 14px;
  color: grey;
}

.navbarlnguageSection > p {
  display: flex;
}

.icks {
  margin-top: 5%;
  margin-left: 3px;
}

.icksPhone {
  margin-top: 0%;
  font-size: 18px;
}
.midScreenNavbar{
  display: none;
}
.navbarSearchSection {
  height: 65px;
  /* border: 1px solid black; */
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}


.navbarSearchSection > div {
  width: 60%;
  height: 38px;
  border-radius: 40px;
  display: flex;
  background-color: white;
  border: 2px solid #ffda00;
}

.navbarSearchSection > div > input {
  width: 83%;
  height: 100%;
  padding-left: 3%;
 
}

.navbarSearchSection > div > input:focus {
  outline: none !important;
}

.navbarSearchSection > div > p {
  padding-top: 1.5%;
  width: 9%;
  padding-left: 2%;
  padding-right: 10px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #ffda00;
}

.navbarSearchSection > div > select {
  width: 8%;
  padding-left: -1%;
  font-size: 14px;
  padding-right: -10%;
  border: none;
  background-color: white;
  margin-left: 3%;
  /* border:2px solid #04c74f; */
}

.navbarSearchSection > a {
  display: flex;
  margin-top: 1%;
}

.navbarSearchSection > a > p {
  margin-top: -1%;
  margin-left: 5px;
  color: grey;
}

.mainDropdown {
  width: 95%;
  height: 50px;
  margin: auto;
  color: black;
  margin-top: 2px;
  background: #ffda00;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  /* padding-top: 1%; */
  justify-content: left;
}

.mainDropdown > div {
  font-weight: 700;
  /* border: 1px solid red; */
  /* margin-right: 12%; */
  padding: 18px 85px;
}

.mainDropdown > div:first-child {
  background-color: black;
  color: white;
}

.megaDropdownBox {
  width: 95%;
  margin: auto;
  height: 420px;
  position: relative;
  z-index: -1;
  /* border: 1px solid green; */
}
.sideNavBtn {
  width: 95%;
  background: #ffda00;
  margin: auto;

  z-index: 1;
}

.navbardropdownName {
  font-weight: bold;
  color: black;
  margin-left: -90%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.carouselNavabr{
  height:417px; width:100%
}
.footerLogoNavbarDropdown{
  display: none;
}


.midSectionSign{
 display: none;   
}
/* <----------------------------------------------min screen---------------------> */
@media screen and (max-width: 800px) {
  .outerbar {
    display: none;
  }

  .sideNavBtn {
    width: 95%;
    padding-left: 50%;
  }

  .sideNavbarCompo{
    position:sticky;
    z-index: 10;
    top:0;
  }
  .navbardropdownName {
        color: black;
    font-size: 14px;
    margin-left: -80%;

  }
  .carouselNavabr{
    height:307px; width:100%
  }

  
  .footerLogoNavbarDropdown{
    display: flex;
    margin-top: 2%;
    width: 100%;
    margin-left: 2.3%;
    margin-bottom: 2%;
    height: 30px;

    background-color: white;
  }
  .footerLogoNavbarDropdown>img{
    display: block;
    margin-top: 0%;
    width: 25%;
    height: 30px;
    background-color: white;
  }
  .midScreenNavbar{
    width: 42.8%;
    margin-right: -0.3%;
    margin-left: 2%;
    height: 28px;
    border-radius: 40px;
    display: flex;
    border: 2px solid #ffda00;
  }
  .midScreenNavbar>input{
  font-size: 12px;
    /* border: 1px solid red; */
    width: 59%;
    margin-right: 1%;
  }
  .midScreenNavbar>select{
    /* border: 1px solid red; */
width: 21%;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;

margin-left: 1%;
font-size: 10px;
  }

  .midSectionSign{
    display: block;
font-size: px;
width: 1%;
height:5%;
margin-top: -2%;
border: 1px solid red;
  }
}
