.main-home-container{
  border: 1px solid red;
  max-width: 80%;
  margin: auto;
}


.f-div{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1%;
}

.card{
   margin-top: 50px;
  color: #666;
  border: 1px solid #eee;
  cursor: default;
  width: 177px;
  
    position: relative;

}

.card-p{
  font-family: OpenSans,Arial,Helvetica,sans-serif;
  line-height: 1;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
   color: black;
   font-size: 15px;
   text-align: center;
}
.add-cart{
  width: 90%;
  margin: auto;
  position: absolute;
  top: 80%;
  opacity: 0;
  margin-left: 10px;
  transition: 1s;
  background: #f30240;
  color: #fff;
  border-color: #f30240;;
  overflow: visible;
  border: 2px solid ;
  font-size: .98889rem;
  font-family: Avenir-NextBold,sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card:hover .add-cart{
  opacity: 1;
  
}